[Unit]
Description=API Runner
After=network.target

[Service]
Type=simple
StandardOutput=journal
Restart=always
User=api-runner
ExecStart=/usr/bin/server

[Install]
WantedBy=default.target
