{# Bastion #}
Host {{ hostvars[vm_bastion]['openstack']['description'] }} {{ hostvars[vm_bastion]['ansible_host'] }}  
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_bastion]['ansible_host'] }}
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }} 

{# Serveur Caddy #}
Host {{ hostvars[vm_caddy]['openstack']['description'] }} {{ hostvars[vm_caddy]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_caddy]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur API 01 #}
Host {{ hostvars[vm_api_01]['openstack']['description'] }} {{ hostvars[vm_api_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_api_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur API 02 #}
Host {{ hostvars[vm_api_02]['openstack']['description'] }} {{ hostvars[vm_api_02]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_api_02]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur API 03 #}
Host {{ hostvars[vm_api_03]['openstack']['description'] }} {{ hostvars[vm_api_03]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_api_03]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur BDD #}
Host {{ hostvars[vm_bdds_01]['openstack']['description'] }} {{ hostvars[vm_bdds_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_bdds_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur BDD 02 #}
Host {{ hostvars[vm_bdds_02]['openstack']['description'] }} {{ hostvars[vm_bdds_02]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_bdds_02]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur BDD 03 #}
Host {{ hostvars[vm_bdds_03]['openstack']['description'] }} {{ hostvars[vm_bdds_03]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_bdds_03]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# grafana #}
Host {{ hostvars[vm_grafana_01]['openstack']['description'] }} {{ hostvars[vm_grafana_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_grafana_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur ETCD 01 #}
Host {{ hostvars[vm_etcds_01]['openstack']['description'] }} {{ hostvars[vm_etcds_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_etcds_01]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur ETCD 02 #}
Host {{ hostvars[vm_etcds_02]['openstack']['description'] }} {{ hostvars[vm_etcds_02]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_etcds_02]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}

{# Serveur ETCD 01 #}
Host {{ hostvars[vm_etcds_03]['openstack']['description'] }} {{ hostvars[vm_etcds_03]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   IdentityFile "~/.ssh/id_sharedagenda" 
   IdentitiesOnly yes 
   User {{ ansible_user }}
   Hostname  {{ hostvars[vm_etcds_03]['openstack']['addresses'][network_adm_name][0]['addr'] }}
   ProxyJump {{ hostvars[vm_bastion]['openstack']['description'] }}
   ServerAliveInterval 120
   StrictHostKeyChecking no  
   UserKnownHostsFile ~/.ssh/known_hosts_{{ deploy.platform_name }}-{{ deploy.phase }}


